/* -------------------------------------
			 * Slider Style
			 * ------------------------------------*/
			 
			.cute-slider{
				position: relative;
				margin-top:50px;
			}
			
			.wrapper{
				width:100%;
				margin:0 auto;
				max-width:800px;
				min-width:300px;
			}